:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    padding: 0px 50px 50px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .action-button {
        width: 50%;
        height: 50px;
        border: 1px solid;
        border-radius: 3px;
    }

    :nth-child(1n + 1) {
        margin-bottom: 20px;
    }
}

.carousel-wrapper {
    overflow: hidden;
}
  .carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 6000px;
}
  .carousel-inner {
    display: flex;
}

.carousel-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.carousel {
  width: 50%;
}

@media only screen and (max-width: 1366px) {
  .carousel {
    width: 100%;
  }
}