:host {
    width: 100%;
    p {
        font-weight: 500;
        font-size: 1.3em;
    }
}

.background {
    height: 900px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../../../assets/img/Startbild.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -500px;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 600px;
    margin-top: 50px;
    width: 100%;
    font-size: 1.8em;
    background-color: rgba(#FFD562, 0.92);
}

.big-font {
    font-weight: 600;
    font-size: 1.5em;
}

@media only screen and (max-width: 1366px) {
    .background {
        height: 550px;
        background-position-y: 0px;
        align-items: flex-start;
    }

    .info-box {
        margin-top: 30px;
        font-size: 1.5em;
        height: 500px;
    }
}