<form class="content">
    <app-header></app-header>
    <button class="action-button" routerLink="/gewicht">gewicht</button>
    <div>
        <div class="text-content">
            <h1>SEI BITTE EINMAL KURZ EHRLICH ZU DIR SELBST</h1>
        </div>
        <ul>
            <li>Stehst du morgens gerne früh auf?</li>
            <li>Liebst du deinen Job?</li>
            <li>Erfüllt dich dein Leben?</li>
            <li>Fühlst du dich wohl in deiner Haut?</li>
            <li>Bist du zufrieden mit deiner Gesundheit?</li>
            <li>Bist du stolz auf dich?</li>
            <li>Bist du erfolgreich?</li>
            <li>Hast du noch Wünsche und Träume?</li>
            <li>Bist du bereit für Veränderung</li>
            <li>Möchtest du dich weiter entwickeln?</li>
        </ul>
        <div class="text-content">
            <p>
                Wenn du eine oder auch nur ein paar Fragen mit <span>NEIN</span> beantwortet hast, dann sichere dir JETZT dein TICKET für den nächsten <span>BE DIFFERENT DAY!</span>
            </p>
        </div>
        <div class="text-content">
            <p>
                Warum solltest du dich zum BeDifferent Day anmelden?
            </p>
        </div>
        <!-- Steigerung -->
        <div class="icon-content">
            <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>STEIGERUNG DER LEBENSQUALITÄT</span><br>
                Positive Veränderung auf:<br>
                Körper | Seele | Geist | Karriere
            </p>
        </div>
        <!-- Experten -->
        <div class="icon-content">
            <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>EXPERTEN HELFEN</span><br>
                Erhalte exklusive Informationen von Experten <br>
                aus unterschiedlichen Bereichen
            </p>
        </div>
        <!-- Geheimes Erfolgskonzept -->
        <div class="icon-content">
            <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>GEHEIMES ERFOLGSKONZEPT</span><br>
                Erfahre über die Möglichkeit<br>
                dich selbst zu VERWIRKLICHEN
            </p>
        </div>
        <!-- Großes Netzwerk -->
        <div class="icon-content">
            <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>GROßES NETZWERK</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
        <!-- AUS DER PRAXIS FÜR DIE PRAXIS -->
        <div class="icon-content">
            <mat-icon class="icon">check_circle</mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>AUS DER PRAXIS FÜR DIE PRAXIS</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
    </div>
    <button class="action-button" routerLink="/gewicht">gewicht</button>
</form>