<form class="content">
    <app-header></app-header>
    <button class="action-button" routerLink="/gewicht">
        <div class="button-content">
            <span class="submit">JETZT BEWERBEN</span>
            <span>Komm zum BE DIFFERENT DAY</span>
        </div>
    </button>
    <div class="text-content">
        <div class="text-content">
            <h1>SEI BITTE EINMAL KURZ EHRLICH ZU DIR SELBST</h1>
        </div>
        <ul class="list">
            <li><span>Stehst du morgens gerne früh auf?</span></li>
            <li><span>Liebst du deinen Job?</span></li>
            <li><span>Erfüllt dich dein Leben?</span></li>
            <li><span>Fühlst du dich wohl in deiner Haut?</span></li>
            <li><span>Bist du zufrieden mit deiner Gesundheit?</span></li>
            <li><span>Bist du stolz auf dich?</span></li>
            <li><span>Bist du erfolgreich?</span></li>
            <li><span>Hast du noch Wünsche und Träume?</span></li>
            <li><span>Bist du bereit für Veränderung</span></li>
            <li><span>Möchtest du dich weiter entwickeln?</span></li>
        </ul>
        <div class="text-content">
            <p>
                Wenn du eine oder auch nur ein paar Fragen mit <span>NEIN</span> beantwortet hast, dann sichere dir JETZT dein TICKET für den nächsten <span>BE DIFFERENT DAY!</span>
            </p>
        </div>
        <div class="text-content">
            <p>
                Warum solltest du dich zum BeDifferent Day anmelden?
            </p>
        </div>
        <!-- Steigerung -->
        <div class="icon-content">
            <mat-icon svgIcon="liveQuali" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>STEIGERUNG DER LEBENSQUALITÄT</span><br>
                Positive Veränderung auf:<br>
                Körper | Seele | Geist | Karriere
            </p>
        </div>
        <!-- Experten -->
        <div class="icon-content">
            <mat-icon svgIcon="expertsHelp" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>EXPERTEN HELFEN</span><br>
                Erhalte exklusive Informationen von Experten <br>
                aus unterschiedlichen Bereichen
            </p>
        </div>
        <!-- Geheimes Erfolgskonzept -->
        <div class="icon-content">
            <mat-icon svgIcon="secrectSuccess" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>GEHEIMES ERFOLGSKONZEPT</span><br>
                Erfahre über die Möglichkeit<br>
                dich selbst zu VERWIRKLICHEN
            </p>
        </div>
        <!-- Großes Netzwerk -->
        <div class="icon-content">
            <mat-icon svgIcon="network" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>GROßES NETZWERK</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
        <!-- AUS DER PRAXIS FÜR DIE PRAXIS -->
        <div class="icon-content">
            <mat-icon svgIcon="praxis" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span>AUS DER PRAXIS FÜR DIE PRAXIS</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
    </div>
    <button class="action-button" routerLink="/gewicht">
        <div class="button-content">
            <span class="submit">JETZT BEWERBEN</span>
            <span>Komm zum BE DIFFERENT DAY</span>
        </div>
    </button>
</form>