:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 50px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        width: 70%;
    }

    .action-button {
        width: 50%;
        height: 50px;
        border: 1px solid;
        border-radius: 3px;
    }

    :nth-child(1n + 1) {
        margin-bottom: 20px;
    }
}

.video {
    width: 50%;
}

@media only screen and (max-width: 1366px) {
    :host {
        padding: 10px;
    }

    .content {
        p {
            width: 80%;
        }

        .action-button {
            width: 80%;
        }
    }
    
    video {
        width: 100%;
    }
}