:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

app-header {
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .bediff {
        font-size: 1.8em;
    }

    p {
        width: 100%;
        font-size: 1.2em;
        .title {
            color: #1c1c1c;
            font-weight: 600;
        }
        .decline {
            color: red;
            font-weight: 600;
        }
    }

    .action-button {
        width: 50%;
        height: 100px;
        border: 1px solid;
        border-radius: 15px;
        background-color: #9cc11f;
        border: none;
        color: white;
        box-shadow: 0px 0px 15px #8b8b8b;
        margin: 50px 0px;

        .button-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .submit {
                font-weight: 600;
                font-size: 1.8em;
            }
        }
    }

    .icon-content {
        display: flex;
        flex: 1 1 auto;
        height: 10em;
        justify-content: center;
    }

    .icon {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        width: 150px;
        height: 150px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #8b8b8b;
        margin: 0px 10px;
    }

    .info-text {
        font-weight: 600;
    }

    .text-list {
        margin-top: 30px;
    }

    .list {
        li {
            color: #ffbf00;
            span {
                color: #8b8b8b;
                font-weight: 400;
                font-size: 1.2em;
            }
        }
        margin: 20px 0px;
        text-align: left;
    }
}

@media only screen and (max-width: 1366px) {

    app-header {
        margin-bottom: 0px;
    }

    .content {
        p {
            width: 100%;
        }

        .action-button {
            width: 80%;
        }

        .text-list {
            margin-top: 0px;
        }
    
    }
}