:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        width: 70%;
    }

    .action-button {
        width: 50%;
        height: 50px;
        border: 1px solid;
        border-radius: 3px;
    }

    :nth-child(1n + 1) {
        margin-bottom: 20px;
    }

    .icon-content {
        display: flex;
        flex: 1 1 auto;
        height: 10em;
        justify-content: center;
    }

    .icon {
        font-size: 10em;
        display: flex;
        flex: 1 1 auto;
        height: 1em;
        justify-content: center;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1366px) {

    .content {
        p {
            width: 80%;
        }

        .action-button {
            width: 80%;
        }
    }
}