<form class="content">
    <app-header></app-header>
    <div class="text-content text-list">
        <app-action-button></app-action-button>
        <div class="text-content">
            <h1>
                {{ 'sei einmal ehrlich' | uppercase }}<br>
                {{ 'dir selbst' | uppercase }}
            </h1>
        </div>
        <ul class="list">
            <li><span>Stehst DU morgens gerne früh auf?</span></li>
            <li><span>Liebst DU deinen Job?</span></li>
            <li><span>Erfüllt DICH dein Leben?</span></li>
            <li><span>Fühlst DU dich wohl in deiner Haut?</span></li>
            <li><span>Bist DU zufrieden mit deiner Gesundheit?</span></li>
            <li><span>Bist DU stolz auf dich?</span></li>
            <li><span>Bist DU erfolgreich?</span></li>
            <li><span>Hast DU noch Wünsche und Träume?</span></li>
            <li><span>Möchtest DU dich weiter entwickeln?</span></li>
            <li><span>Bist DU bereit für DIE Veränderung?</span></li>
        </ul>
        <div class="text-content info-text">
            <p>
                Wenn du auch nur eine der Fragen mit <span class="decline">NEIN</span> beantwortet hast,<br>
                dann nutze die Chance und sichere dir JETZT dein TICKET für den nächsten <br><span class="gold">BE DIFFERENT DAY</span>!
            </p>
        </div>
        <app-action-button></app-action-button>
        <div class="text-content info-text">
            <h2>
                Warum solltest du dich zum <br><span class="bediff gold">BE DIFFERENT DAY</span><br>anmelden?
            </h2>
        </div>
        <!-- Steigerung -->
        <div class="icon-content">
            <mat-icon svgIcon="liveQuali" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span class="title">STEIGERUNG DER LEBENSQUALITÄT</span><br>
                Positive Veränderung auf:<br>
                Körper | Seele | Geist | Karriere
            </p>
        </div>
        <!-- Experten -->
        <div class="icon-content">
            <mat-icon svgIcon="expertsHelp" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span class="title">EXPERTEN HELFEN</span><br>
                Erhalte exklusive Informationen von Experten <br>
                aus unterschiedlichen Bereichen
            </p>
        </div>
        <!-- Exclusives Erfolgskonzept -->
        <div class="icon-content">
            <mat-icon svgIcon="secrectSuccess" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span class="title">EXCLUSIVES ERFOLGSKONZEPT</span><br>
                Erfahre über die Möglichkeit<br>
                dich selbst zu VERWIRKLICHEN
            </p>
        </div>
        <!-- Großes Netzwerk -->
        <div class="icon-content">
            <mat-icon svgIcon="network" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span class="title">GROßES NETZWERK</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
        <!-- AUS DER PRAXIS FÜR DIE PRAXIS -->
        <div class="icon-content">
            <mat-icon svgIcon="praxis" class="icon"></mat-icon>
        </div>
        <div class="text-content">
            <p>
                <span class="title">AUS DER PRAXIS FÜR DIE PRAXIS</span><br>
                Erhalte Zugang zu einem Netzwerk an<br>
                Unternehmen zum Austausch
            </p>
        </div>
        <app-action-button></app-action-button>
        <div class="text-content">
            <h2>
                Das sagen Erfolgreiche Partner, die bereits dabei sind.
            </h2>
        </div>
    </div>
</form>
<app-carousel></app-carousel>