:host {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    background-image: url('../../../assets/img/Startbild.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -600px;
}

.contact {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 25px;
}

.submit {
    margin-top: 20px;
    height: 50px;
}

.action-button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #9cc11f;
    border: none;
    color: white;
    box-shadow: 0px 0px 15px #8b8b8b;
}

@media only screen and (max-width: 1366px) {
    :host {
        background-position-y: 0px;
        background-position: center;
    }
}