:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/img/Startbild.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -600px;
}

app-action-button {
    margin-bottom: 3em;
}

.icon {
    width: 30em;
    height: 30em;
    color: green;
}

@media only screen and (max-width: 1366px) {
    :host {
        background-position-y: 0px;
        background-position: center;
    }

    app-action-button {
        width: 80%;
    }
}